<div class="container">+
        <h1>Cadastro de cidades</h1>
        <form>
            <div class="mb-3">
                <label for="name" class="form-label">Cidade</label>
                <input type="text" class="form-control" id="name" placeholder="Digite o nome da cidade">
            </div>
            <div class="mb-3">
                <label for="state" class="form-label">Estado</label>
                <input type="text" class="form-control" id="price" placeholder="Digite o Estado da cidade">
            </div>
            <div class="mb-3">
                <label for="tpoint" class="form-label">Ponto turistico</label>
                <input type="text" class="form-control" id="name" placeholder="Digite o Ponto tristico da cidade">
            </div>
            <div class="mb-3">
                <label for="rpc" class="form-label">Renda Percapta</label>
                <input type="number" class="form-control" id="name" placeholder="Digite a renda Percapita da cidade">
            </div>
            <div class="mb-3">
                <label for="cep" class="form-label">CEP</label>
                <input type="number" class="form-control" id="name" placeholder="Digite o CEP da cidade">
            </div>
        </form>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </div>